BODY
{
  MARGIN: 0px;
  COLOR: #000;
  BACKGROUND-COLOR: #bb3333
}

H4
{
  FONT-FAMILY: Trebuchet MS;
  FONT-SIZE: 100%;
  MARGIN: 4px 0px 0px 5px
}

A   
{ 
  CURSOR: pointer;
  COLOR: blue;
  TEXT-DECORATION:underline
}        
A:visited 
{
  COLOR: blue
}
A:hover
{
  CURSOR: pointer;
  COLOR: blue;
  TEXT-DECORATION:underline
}

UL
{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  MARGIN: 0px;
  LIST-STYLE-TYPE: none
}

LI
{
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 10px;
  PADDING-BOTTOM: 0px;
  MARGIN: 1px 2px;
  PADDING-TOP: 0px
}



#DIVnav
{ 
  width: 150px;
  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 10px;
  FONT: 1em Arial;
  PADDING-TOP: 2px
}
#DIVnav UL  
{

  PADDING-RIGHT: 0px;
  PADDING-LEFT: 0px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  MARGIN: 0px;
  LIST-STYLE-TYPE: none
}
#DIVnav LI  
{

  PADDING-RIGHT: 0px;
  PADDING-LEFT: 5px;
  PADDING-BOTTOM: 0px;
  MARGIN: 1px 2px;
  WIDTH: 140px;
  PADDING-TOP: 0px
}
#DIVnav HR
{

  text-align: right;
  height: 1px;
  COLOR: #000000;
  background-color: #000000;
  BORDER: none;
  WIDTH: 100%
}
            
#DIVnav A   
{ 
  PADDING-RIGHT: 4px;
  PADDING-LEFT: 8px;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  DISPLAY: block;
  MARGIN: 1px 0px;
  CURSOR: pointer;
  COLOR: #000000;
  TEXT-DECORATION: none 
}        
#DIVnav A:visited 
{
  COLOR: #000000
}

#DIVnav A:hover
{
    BORDER-RIGHT: none;
    BORDER-LEFT: none;
    BORDER-BOTTOM: none;
    BORDER-TOP: none;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    MARGIN: 0px;
    BACKGROUND-COLOR: #f3f3f3;
    FONT-WEIGHT: bold;
    COLOR: #000000
    }

TABLE.main  
{

  BORDER-RIGHT: #000000 1px SOLID;
  BORDER-TOP: #000000 1px SOLID;
  BORDER-LEFT: #000000 1px SOLID;
  BORDER-BOTTOM: #000000 1px SOLID;
  BORDER-COLLAPSE: collapse;
  BACKGROUND-COLOR: #FFFFFF;
  BACKGROUND-IMAGE: none
}

TD.TopLeft  
{

  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  BACKGROUND-COLOR: #dddddd;
  BACKGROUND-IMAGE: none;
  vertical-align: middle
}

TD.TopMiddle 
{

  border-bottom: #000000 1px solid;
  vertical-align: middle;
  BACKGROUND-COLOR: #ffffff;
  text-align: middle
}
TD.TopRight
{

  border-bottom: #000000 1px solid;
  border-left: #000000 1px solid;
  vertical-align: middle;
  text-align: middle
}
TD.BotLeft  
{

  vertical-align: top;
  text-align:left;
  BORDER-TOP: #000000 1px SOLID;
  FONT-FAMILY: Trebuchet MS;
  FONT-SIZE: 75%;
  PADDING-TOP: 5px;
  PADDING-BOTTOm: 5px;
  PADDING-LEFT: 5px;  
  BACKGROUND-COLOR: #dddddd;
  BACKGROUND-IMAGE: none
}

TD.BotRight 
{

  vertical-align: top;
  text-align:right;
  BORDER-TOP: #000000 1px SOLID;
  FONT-FAMILY: Trebuchet MS;
  FONT-SIZE: 75%;
  PADDING-TOP: 5px;
  PADDING-BOTTOm: 5px;
  PADDING-RIGHT: 5px;
  BACKGROUND-COLOR: #dddddd;
  BACKGROUND-IMAGE: none
}
TD.nav
{ 
  vertical-align: top;
  text-align:left;
  border-right: #000000 1px solid;
  FONT-SIZE: 95%;
  FONT-FAMILY: Trebuchet MS;
  COLOR: #000000;
  BACKGROUND-COLOR: #dddddd;
  BACKGROUND-IMAGE: none
}
TD.main
{
  vertical-align: top;
  text-align:left;
  FONT-SIZE: 95%;
  FONT-FAMILY: Trebuchet MS;
  COLOR: #000000;
  BACKGROUND-COLOR: #FFFFFF;
  BACKGROUND-IMAGE: none;
  PADDING-TOP: 5px;
  PADDING-BOTTOm: 5px;
  PADDING-LEFT: 15px;
  PADDING-RIGHT: 15px
}